@import url('https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600');

html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #eee;
}

body {
  display: none;
}

a {
  text-decoration: none;
  outline: none;
}

button {
  border: 1px solid skyblue;
  background-color: white;
  color: skyblue;
  transition-duration: 1s;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: skyblue;
  border-color: skyblue;
  color: white;
}

.preview {
  font-family: 'Titillium Web', sans-serif;
  margin: 10px auto;
  padding: 15px;
  -webkit-box-shadow: 2px 2px 2px #ccc;
  -moz-box-shadow: 2px 2px 2px #ccc;
  background-color: #fff;
  box-shadow: 2px 2px 2px #ccc;
  max-width: 500px;
}
.preview .title {
  margin-bottom: 1px;
  padding-bottom: 1px;
  color: grey;
  transition-duration: 1.5s;
}
.preview .title:hover {
  color: skyblue;
}

.preview .meta {
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 5px;
  padding-bottom: 5px;
}
.preview .author {
  
}
.preview .date {
  
}
.preview button {
  
}

.post {
  font-family: 'Titillium Web', sans-serif;
  margin: 10px auto;
  padding: 15px;
  -webkit-box-shadow: 2px 2px 2px #ccc;
  -moz-box-shadow: 2px 2px 2px #ccc;
  background-color: #fff;
  box-shadow: 2px 2px 2px #ccc;
  max-width: 500px;
}
.post .title {
  margin-bottom: 1px;
  padding-bottom: 1px;
}

.post .meta {
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 3px;
  padding-bottom: 3px;
}
.post .author {
  text-decoration: bold;
}
.post .date {
  text-decoration: italic;
}
.post .nav {
  color: grey;
  transition-duration: 1s;
}
.post .nav:hover {
  color: darkgrey;
}

#newPost, #editPost {
  font-family: 'Titillium Web', sans-serif;
  margin: 10px auto;
  padding: 15px;
  -webkit-box-shadow: 2px 2px 2px #ccc;
  -moz-box-shadow: 2px 2px 2px #ccc;
  background-color: #fff;
  box-shadow: 2px 2px 2px #ccc;
  max-width: 500px;
}

#postButton button {
  position: absolute;
  padding: 3px;
  font-size: 2em;
}

#newPost input, #editPost input {
  background: white;
  width: 100%;
  display: block;
  border: 1px solid skyblue;
  border-radius: 3px;
}

#newPost textarea, #editPost textarea {
  width: 100%;
  height: 150px;
  background: white;
  border: 1px solid skyblue;
  border-radius: 3px;
  resize: vertical;
}

#newPost button, #editPost button {
  margin-top: 5px;
  font-size: 1em;
}

.buttons #edit button {
  border: 1px solid orange;
  background-color: white;
  color: orange;
}

.buttons #edit button:hover {
  background-color: orange;
  border-color: orange;
  color: white;
}

.buttons #delete button {
  border: 1px solid red;
  background-color: white;
  color: red;
}

.buttons #delete button:hover {
  background-color: red;
  border-color: red;
  color: white;
}

footer {
  text-align: center;
  margin-top: 5px;
}